@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --fundo: #fffbe6;
  --detalhes: #ffa500;
  --detalhes2:#ffbd43;
  --botao: #f96325;
  --subtítulos: #f18647;
  --fundoneutro: #fefaef;
  --títulos: #333;
  --sombra:#bdbdbd;
  --borda: #0000001a;
  --amarelo:#fcc70f;
  --branco2:#f0d4c2;
  --laranja3:#f18647;
  --amarelo2: #feb111;
}

*{
    font-family: "Fira Sans", sans-serif;
    margin: 0;
    padding: 0;
}





main{
    background-color: white;
}




/*bea pag 1*/

.bea {

    /*HEADER*/
    header {
        margin-right: 5%;
        margin-left: 5%;
        padding: 0.3%;
        display: flex;
        justify-content: space-between;

        .title {
            align-items: center;
            display: flex;

            h2 {
                color: var(--detalhes);
            }

            h3 {
                color: var(--detalhes2);
            }
        }

        .middle {
            align-items: center;
            display: flex;
            font-size: 90%;
            cursor: pointer;

        }

        .end {
            align-items: center;
            display: flex;
            font-size: 90%;
        }

        .login {
            padding: 0.8%;
            align-items: center;
            display: flex;
            font-size: 90%;
            color:var(--detalhes2);
            box-shadow: 10%;
            box-shadow: 1px 5px 5px var(--detalhes2);
            border-radius: 5px;
            cursor: pointer;
        }
    }

    /*MAIN*/
    .main {
        padding-left: 6%;
        padding-top: 6%;
        background-color: var(--amarelo);
        display: flex;
        justify-content: space-evenly;
    }

    .all {
        display: flex;
        flex-direction: column;

    }

    .yellow {
        width: 300px;
        height: 300px;
        background: var(--amarelo);
        border-radius: 10rem;
        box-shadow: 0 -10px 30px var(--borda);
    }

    h1 {
        color: var(--fundo);
        font-size: 450%
    }

    /*WHITE BOX*/
    .box {
        padding: 3%;
        margin-top: 5%;
        background-color:  var(--fundo);
        width: 100%;
        height: 35%;
        display: flex;
        border-radius: 5px;
        flex-direction: column;



        .top {
            display: flex;
            margin-bottom: 6%;
            gap: 2%;


             .delivery{
                display: flex;
                padding:2.5px;
                
            } 

             .delivery:hover {
                background-color: var(--branco2);
                color:var(--laranja3);
                border-radius: 10%;
                cursor: pointer;
                
            } 

            .pickup{
                display: flex;
            }

            .pickup:hover {
                background-color: var(--branco2);
                color:var(--laranja3);
                border-radius: 10%;
                cursor: pointer;
                
            }
        }

        .bottom {
            display: flex;
            gap: 5%
        }
        
        .boxadress {
            background-color: var(--fundo);
            color: var(--sombra);
            border-radius: 5px;
            display: flex;
            align-items: center;
            width: 80%;

            input {
                background: transparent;
                border: none;
            }

        }

        .boxfind {
            display: flex;
            align-items: center;
            background-color: var(--botao);
            color: var(--fundo);
            border-radius: 5px;
            width: 30%;
            padding: 1.5%;

             button {
                background: transparent;
                border: none;
            }

        }

    }

    /*CARDS*/
    .cards {
        display: flex !important;
        padding: 3%;
        position: relative;
        width: 80%;
        gap: 15%;
        margin-left: 4%;

        h4 {
            margin-top: 0.5%;
            font-size: 130%;
            margin-bottom: 3%;
        }

        .salad {
            margin-left: 3%;

            img {
                border-radius: 10%;
            }

            .sob1 {
                background-color: var(--amarelo2);
                width: 8%;
                border-radius: 0px 15px 0px 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                margin-top: -86px;



                .text {
                    flex-direction: column;
                    color: var(--fundo);

                }
            }

            .days1 {
                background-color: var(--branco2);
                color: var(--laranja3);
                padding: 4%;
                font-size: larger;
                border-radius: 7px;
            }
        }

        .pasta {
            img {
                border-radius: 10%;
            }

            .sob2 {
                background-color: var(--amarelo2);
                width: 8%;
                border-radius: 0px 15px 0px 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                margin-top: -86px;



                .text {
                    flex-direction: column;
                    color: var(--fundo);

                }
            }

            .days2 {
                background-color: var(--branco2);
                color: var(--laranja3);
                padding: 4%;
                font-size: larger;
                border-radius: 7px;
            }
        }

        .vegetables {
            img {
                border-radius: 10%;
            }

            .sob3 {
                background-color: var(--amarelo2);
                width: 8%;
                border-radius: 0px 15px 0px 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                margin-top: -86px;
                margin-right: 0%;



                .text {
                    flex-direction: column;
                    color: var(--fundo);

                }
            }

            .days3 {
                background-color: var(--branco2);
                color: var(--laranja3);
                padding: 4%;
                font-size: larger;
                border-radius: 7px;
            }
        }

        .soup {
            img {
                border-radius: 10%;
            }

            .sob4 {
                background-color: #feb111;
                width: 8%;
                border-radius: 0px 15px 0px 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                margin-top: -86px;



                .text {
                    flex-direction: column;
                    color: white;

                }
            }

            .days4 {

                background-color: #ffe1c8;
                color: #de7837;
                padding: 7%;
                font-size: larger;
                border-radius: 7px;
            }
        }
    }

    .instructions {
        background-color: #fefaef;

        h1 {
            color: #f18240;
            justify-self: center;
            font-size: 50px;
            padding: 3%;
        }

        p {
            color: #a0a0a0;
        }

        img {
            margin-bottom: 10%;

        }

        .icons {
            display: flex;
            margin-bottom: 5%;
            width: 60%;
            padding: 5%;
            margin-left: 15%;
        }

        .location {
            margin-right: 15%;

        }

        .order {
            margin-right: 15%;
        }

        .pay {
            margin-right: 15%;
        }

        .meals {
            img {
                margin-bottom: 20%;
            }
        }

    }
}

/*pietra*/

.pietra{

    
    .imgs1 {
        font-family: Arial, sans-serif;
        background-color: var(--fundo);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    padding: 0%;
  }
  
  .slider-container {
      display: flex;
      align-items: center;
      width: 80%;
      max-width: 4000px;
      overflow: hidden;
      position: relative;
    }
    
    .card-slider {
        overflow: hidden;
        width: 100%;
        border-radius: 10px;
    }
    
    .cards {
        display: flex;
        transition: transform 0.5s ease;
        width: max-content;
    }
    
    .card {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 300px;
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 70%;
    }
    
    .card img {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }
    
    .card-content {
        padding: 20px;
    }
    
    .tag {
        display: inline-block;
        padding: 5px 10px;
        border-radius: 20px;
        font-size: 0.8em;
        font-weight: bold;
        color: #fff;
        margin-bottom: 10px;
    }
    
    .tag.technology {
        background-color: #00aaff;
    }
    
    .tag.popular {
        background-color: #6b5b95;
    }
    
    .tag.design {
        background-color: #ff6b6b;
    }
    
    .card h3 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #333;
}

.card p {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 15px;
}

.author {
    display: flex;
    align-items: center;
    gap: 10px;
}

.author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.author-info h4 {
    font-size: 0.9em;
    color: #333;
    margin: 0;
}

.author-info small {
    font-size: 0.8em;
    color: #999;
}

.slider-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2em;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.prev {
    left: -10px;
}

.next {
    right: -10px;
}

.btn-moderno {
    padding: 15px 90px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: var(--detalhes);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: none;
    transition: all 0.3s ease;
    
}


.visao {
    font-size: 17px;
    font-family:Arial, Helvetica, sans-serif;
    /* padding-left: 57%; */
    padding-top: 4%;
    color: var(--títulos);
    display: flex;
    gap: 10px;
}
.visao h3{
    display: flex;
    padding-top: 0.75rem;
}

.bolinhas {
    background-color: var(--títulos);
    width: 3rem;
    height: 3rem;
    border-radius: 5rem;
    color: white;
    text-align: center;
}

.bolinha img{
    margin-top: 20%;
}
    }

.btn-moderno:hover {
    background-color: var(--subtítulos);
    transform: scale(1.05);
    box-shadow: none;
}

.btn-moderno:active {
    transform: scale(1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.plano {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 70%;
}


 
/* pietra */

  .header {
    background-color: var(--fundo);
    padding: 20px;
    text-align: center;
     font-family: Arial, sans-serif;
  }

  .lala {
     font-family: Arial, sans-serif;
    background-color: var(--fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0%;
  }
  
  .slider-container {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 4000px;
    overflow: hidden;
    position: relative;
  }
  
  .cartoes {
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
  }
  
  .cards {
    display: flex;
    transition: transform 0.5s ease;
    width: max-content;
  }

  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 70%;
  }
  
  .card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .tag {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8em;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .tag.technology {
    background-color: #00aaff;
  }
  
  .tag.popular {
    background-color: #6b5b95;
  }
  
  .tag.design {
    background-color: #ff6b6b;
  }
  
  .card h3 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #333;
  }
  
  .card p {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 15px;
  }
  
  .author {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .author-info h4 {
    font-size: 0.9em;
    color: #333;
    margin: 0;
  }
  
  .author-info small {
    font-size: 0.8em;
    color: #999;
  }
  
  .slider-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2em;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .prev {
    left: -10px;
  }
  
  .next {
    right: -10px;
  }
  

  /* Estilos do botão */
  .btn-moderno {
    padding: 15px 90px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: var(--detalhes);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: none;
    transition: all 0.3s ease;
    
}

.btn-moderno:hover {
    background-color: var(--subtítulos);
    transform: scale(1.05);
    box-shadow: none;
}

.btn-moderno:active {
    transform: scale(1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.plano {
     background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 70%;
}







/*bia*/
.bia {
        background-color: rgb(251, 251, 234);
        display: flex;
        width: 100%;
        height: 500px;
    }
        .search {
            font-size: 17px;
            font-family: Arial, Helvetica, sans-serif;
            padding-left: 9%;
            padding-top: 3%;
}
.bia1{
    display: flex;
}
 
.visao {
    font-size: 17px;
    font-family:Arial, Helvetica, sans-serif;
    /* padding-left: 57%; */
    padding-top: 4%;
    color: var(--títulos);
    display: flex;
    gap: 10px;
}
.visao h3{
    display: flex;
    padding-top: 0.75rem;
}
 
.bolinhas {
    background-color: var(--títulos);
    width: 3rem;
    height: 3rem;
    border-radius: 5rem;
    color: white;
    text-align: center;

}
 
.bolinhas img{
    margin-top: 20%;
}
 
.imagens {
    display: flex;
    justify-content: space-evenly;
    padding-top: 15rem;
    width: 12rem;
    gap: 15px;
    /* height: 12rem; */
    display: flex;
    justify-content: space-between;
}
.imagens img {
    width: 300px;
    height: 300px;
    border-radius: 10rem;

}
 
.bolinha img{
    margin-top: 20%;
}
 
.imagens {
    display: flex;
    justify-content: space-evenly;
    padding-top: 15rem;
    width: 12rem;
    gap: 15px;
    /* height: 12rem; */
    display: flex;
    justify-content: space-between;
}
.imagens img {
    width: 300px;
    height: 300px;
    border-radius: 10rem;
}
 





/*isadora*/

.ISADORA {

    body{
    background-color: white;
}

    /* Card 1 = correponde as configurações dos blocos de imagem e texto (cartões) */

    .card1 {
        padding: 60px;
        background-color: var(--fundo);
    }
    /* a div mãe, que contém as configurações básicas de todos os outros cards (container = contém) */
    .container {
        width: 900px;
        height: 400px;
        margin: 0 auto;
        display: flex;
        box-shadow: 3px 9px 75px 21px var(--sombra);
        -webkit-box-shadow: 3px 9px 75px 21px var(--sombra);
        -moz-box-shadow: 3px 9px 75px 21px var(--sombra);
        
    }
    
    /* O texto se adapta ao container, comfigurações de texto para as escritas h1, p e geral.  */
    .texto {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction:column ;
        justify-content: center;
        align-items: center;
        padding: 10px;
        
        h1 {
            color:black;
            font-weight: bold;
            font-size: 40px;
 
        }
        
        p {
            font-size:16px;
            margin-top: 15px;
            text-align: justify;
        }
        
    }
    
    /* configurações de todas as imagens dos cards */
    
    .imagem {
        width: 50%;
        height: 100%;
        display: flex;
        
    }
    

    /* utilizado para deixar textos isolados de outra cor */
    span {
        color: rgb(255, 208, 0);
        font-weight: bold;
    }
    
/* configurações de todos os botões */
    .botao1 {
        margin: 60px;
        padding: 20px 60px;
        background-color: var(--detalhes);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        color: var(--detalhes);
        box-shadow: 2px 22px 46px 2px rgba(255,165,0,0.58);
        -webkit-box-shadow: 2px 22px 46px 2px rgba(255,165,0,0.58);
        -moz-box-shadow: 2px 22px 46px 2px rgba(255,165,0,0.58);
        
        
    }
    
    /* Configurações de cardápio (botão)*/
    .Cardapio {
        text-align: center;
        color:black;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        
    }
 /* Configurações de botão, animações e efeitos de cor*/
    .botao1:hover{
        background-color:var(--detalhes2) ;
        transition: all 0.3s ease;
    }
    
     /* Card 2 = correponde as configurações dos blocos de imagem e texto (cartões) */
    .card2{
        padding: 5%;
        background-color: var(--fundo);
    }
    
     /* Card 3 = correponde as configurações dos blocos de imagem e texto (cartões) */
    .card3{
        padding: 5%;
        background-color: var(--fundo);
    }   
    
  
}
 
/*marcela*/

.marcela{
    background-color: rgb(36, 36, 36);
     margin: 0;
     padding: 0;

    img{
        width:100%;
        height: 200px;
        margin-top: 0%;
        display: flex; ;
    }
    
    
   
}

p{
    color: rgb(151, 150, 150);
    display: flex;
    justify-content: space-around;
}

h2{
    color: rgb(103, 103, 103);
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
    font-size: 20px;
    
}
.titulo-rodape{
   
    

    .primeiro{
        display: flex;
        justify-content: space-around;
        align-content: center;
    
    }
    
    
    hr{
        width: 90%;
        opacity: 0.3;
        color: grey;

    }
    
}

input{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    padding: 10px;
    margin-left: 1000px;
    background-color: rgb(63, 63, 63);
    

}


button {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    position: relative;
    border: 0px;
    bottom: 50px;
    margin-left: 10px;
    background-color: orange;
    color: white;
    margin-left: 1350px;
}
.titulo-segundo{
   .tres{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
    columns: 3;
    width: 50%;
    height: 200px;

}

}